/* Paleta Valorant
#009200 - verde principal
#0f1923 - fundo escuro
#1f2328 - cinza escuro
#ffffff - branco
#8a8f98 - cinza claro
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #009200;
    color: #0000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

section {
    scroll-margin-top: 90px;
}

header {
    background-color: #fff;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #009200;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #009200;
}

.banner {
    background: url(../img/banner.webp) no-repeat center/cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    color: #ffffff;
    font-size: 1.3em;
    text-shadow: 2px 2px 5px #000;
}

.inicio {
    font-size: 2.5rem;
    color: #000;
    text-shadow: 2px 2px 5px #b3b3b3;
}

#sobre {
    padding: 35px;
    background-color: #ffff;
    color: #0000;
}

.sobre-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
}

.sobre-texto {
    flex: 1;
    padding: 20px;
}

.sobre-texto h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #009200;
}

.sobre-texto h2 {
    margin-top: 15px;
    color: #009200;
    font-size: 1.4em;
}

.sobre-texto p {
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    margin-top: 10px;
    color: #000;
}

.sobre-texto a {
    color: #009200;
    text-decoration: none;
    font-size: 0.9em;
}

.fonte {
    font-size: 0.9em;
}

.hex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex {
    width: 140px;
    height: 120px;
    clip-path: circle(50%);
    overflow: hidden;
    background-color: #009200;
    position: relative;
}

.hex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#titulos h1{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

#titulos .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    padding: 50px 0;
    margin-top: 20px;
}

#titulos .item{
    background-color: #fff;
    border: 1px solid #009200;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2 ease; box-shadow: 0.2  ease;
    cursor: pointer;
    color: #000;
}

#titulos .item:hover{
    transform:  translateY(-5px);
    box-shadow: 0 4px 6px #009200;
}

#titulos .item:active {
    transform: scale(0.98);
    box-shadow: 0 4px 6px #009200;
}

#titulos .item p  {
    margin-top: 15px;
    font-size: 0.95em;
    color: #000;
}

#titulos .imgcard img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.imgcard {
    width: 70%;
    width: 100%;
    max-width: 600px; 
    height: 500px;    
    object-fit: cover;
    border-radius: 10px; 
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    margin: auto;
    text-align: center;
    color: #000;
}

.card {
    max-width: 300px;
}

.card h3 {
    margin-top: 0px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding:  10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

.container-btn2 {
    margin-top: 1.3rem;
}

.container-btn3 {
    margin-top: 1.3rem;
}

.container-btn4 {
    margin-top: 1.3rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content p{
    margin-top: 20px;
}

.modal:target {
    display: flex;
}
.modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow-y: auto;
    text-align: justify;
    margin-top: 120px;
}

.close-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background: #dc3545;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

button:hover {
    background-color: #e03b4e;
}

.galeria { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    max-width: 1100px; 
    margin: 0 auto; 
} 

.galeria img { 
    width: 100%; 
    height: 250px; 
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease; 
    border: 4px solid #111111; 
    object-fit: cover;
} 

.galeria img:hover { 
    transform: scale(1.05); 
}

#contato ul {
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
}

#contato li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

#contato{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 15px;
    color: #000;
}

section{
    scroll-margin-top: 107px;
}

@media (max-width: 675px) {
    header .container,
    .sobre-container {
        flex-direction: column;
        text-align: center;
    }

    #titulos {
        scroll-margin-top: 500px;
    }

    nav ul {
        margin-top: 10px;
        flex-direction: column;
    }

    .banner {
        margin-top: 160px;
        padding: 20px;
    }

    section {
        scroll-margin-top: 180px;
    }

    .imgcard {
        width: 90%;
    }

    .galeria{
        flex-direction: column;
        display: flex;
        width: 80%;
    }

    .modal{
        margin-top: 100px;
    } 

    .modal-content{
        max-height: 60vh;
    } 
}