/* Paleta Valorant
#ff4655 - vermelho principal
#0f1923 - fundo escuro
#1f2328 - cinza escuro
#ffffff - branco
#8a8f98 - cinza claro
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #0f1923;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

section {
    scroll-margin-top: 90px;
}

header {
    background-color: #1f2328;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #ff4655;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff4655;
}

.banner {
    background: url(../img/banner.webp) no-repeat center/cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    color: #ffffff;
    font-size: 1.3em;
    text-shadow: 2px 2px 5px #000;
}

.inicio {
    font-size: 2.5rem;
    color: #ddd;
    text-shadow: 2px 2px 5px #b3b3b3;
}

#sobre {
    padding: 35px;
    background-color: #1f2328;
    color: #ffffff;
}

.sobre-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
}

.sobre-texto {
    flex: 1;
    padding: 20px;
}

.sobre-texto h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ff4655;
}

.sobre-texto h2 {
    margin-top: 15px;
    color: #ff4655;
    font-size: 1.4em;
}

.sobre-texto p {
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    margin-top: 10px;
}

.sobre-texto a {
    color: #ff4655;
    text-decoration: none;
    font-size: 0.9em;
}

.fonte {
    font-size: 0.9em;
}

.hex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex {
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color: #8a8f98;
    position: relative;
}

.hex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgcard {
    width: 70%;
    border: 2px solid #ff4655;
    border-radius: 10px;
    width: 100%;
    max-width: 600px; 
    height: 500px;    
    object-fit: cover;
    border-radius: 10px; 
        
}

button:hover {
    background-color: #e03b4e;
}

#contato ul {
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
}

#contato li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

footer {
    background-color: #1f2328;
    text-align: center;
    padding: 15px;
    color: #8a8f98;
}

@media (max-width: 675px) {
    header .container,
    .sobre-container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 10px;
        flex-direction: column;
    }

    .banner {
        margin-top: 160px;
        padding: 20px;
    }

    section {
        scroll-margin-top: 180px;
    }

    .imgcard {
        width: 90%;
    }
}
